@import
	url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap')
	;

body {
	margin: 0;
	padding-top: 100px; font-family : 'Cinzel', serif;
	font-size: 1.2em;
	font-family: 'Cinzel', serif
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#footer {
	/* position: fixed;
	left: 0px;
	bottom: 0px;
	height: 99px;
	width: 100%;
	font-size: .8em !important; */
	flex-shrink: none;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center 
{
	text-align: center;
}