@import
	url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap')
	;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
	margin: 0;
	padding-top: 100px; 
	font-size: 1.2em;
	font-family: 'Cinzel', serif;
	background:	#f8f8ff;
	box-sizing: border-box;
	
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	/* height:125px; */
	width: 100%;
	font-size: .6em !important;
	flex-shrink: none;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center 
{
	text-align: center;
}

.carousel-inner img
{
	height:35em;
	width:100%;
}

.cardshadow:hover
{
box-shadow: 5px 10px #9f9f9f;	
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#searchbar {
   width: 600px;
}

.beerme:hover
{
	border-radius:17px;
	text-decoration: none;
	background: #adadad;
	color: black;
}