@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');


body
{
margin: 0;
padding: 0;
font-family: 'Cinzel', serif;
font-size: 3em;
}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}